.publish-date {
  font-size: 0.8em;
  color: #777;
  font-style: italic;
}

.tag {
  color: #e76f51;
  text-decoration: underline;
  margin-right: 5px;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}