<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGF0TZKLF5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZGF0TZKLF5');
  </script>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="/static/images/levy.jpeg">
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/blog.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Blog - {{ .Title }}</title>
</head>

<body>
  <div class="container">
    <article>
      <h1>{{ .Title }}</h1>
      <p class="publish-date">{{ .Date.Format "January 2, 2006" }}</p>
      {{ .Content }}
      <p>Tags: {{ range .Tags }}<span class="tag">{{ . }}</span>{{ end }}</p>
    </article>

    <!-- Disqus for comments -->
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = window.location.href;
        this.page.identifier = this.page.url;
      };

      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://exismys-tech.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <!-- End of Disqus -->
     
  </div>
</body>

</html>