<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="static/images/levy.jpeg">
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Home</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Hello, my fellow sentient beings! 👋</h1>
      <p class="tagline"><code>Flickering consciousness, anxious and unknowing of what it is.</code></p>
    </header>

    <main>
      <section class="projects">
        <h2>Projects</h2>
        <p>The projects I absolutely love :)</p>
        <ul>
          <li>
            <a href="https://github.com/exismys/SortingAlgorithmVisualizer">Sorting Algorithm Visualizer</a>
            <span>- a web app which visualizes sorting algorithms -</span>
            <a href="https://exismyssav.netlify.app/" class="live-link">see it live</a>
          </li>
          <li>
            <a href="https://github.com/exismys/RegencyDuel">Regency Duel</a>
            <span>- a multiplayer web game written in Golang and JavaScript, drawn on HTML Canvas</span>
          </li>
        </ul>
      </section>

      <section class="blogs">
        <h2>Blogs</h2>
        <ul>
          {{ range . }}
          <li>
            {{if .Status}}
            <a href="/blog/{{ .Slug }}"> {{ .Title }}</a>
            <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
            {{else}}
            <a href="#"> {{ .Title }}</a>
            <span class="upcoming">Upcoming</span>
            {{end}}
          </li>
          {{ end }}
        </ul>
      </section>

      <section class="links">
        <h2>Links</h2>
        <ul>
          <li><a href="https://exismys.github.io">Mini Web Resume</a></li>
          <li><a href="https://github.com/exismys">GitHub</a></li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Ritesh Patel. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
